.share{
  color: #000000;
  background: #ffffff;
  // border: 6px solid #000000;
  padding: 3%;
  text-align: center;
  min-height: 50vh;
  background-image: radial-gradient(ellipse at center, rgba(170,173,183,1) 0%,rgba(44,83,158,1) 81%);;
  box-shadow: inset 0 0 90px 20px #2e3d5c;
  div{
    margin: auto;
    }
  .fb-logo{
    margin-bottom: 0%;
    height: auto;
    width: 70vmin;
    }

  .share-img{
    box-shadow: 0 0 0 1px #ffffff, 0 0 20px 6px #3c5077;
    margin: 0px auto;
    display: block;
    height: auto;
    max-width: 270px;
    max-width: 83vw;
    @media(min-width: $mobile-size) {
      margin: 2% auto;
      display: block;
      width: auto;
      max-height: 50vh;
      }
    }
  button{
    border-radius: 2px;
    border-color: #29447e #29447e #1a356e;
    color: #fff;
    background-color: #5B74A8;
    background-image: linear-gradient(#637bad, #5872a7);
    box-shadow: inset 0 1px 0 #8a9cc2, 0 0 18px #2e3d5c;
    padding: 0.2em 0.9em 0.475em;
    border: 1px solid #999;
    font: bold 18px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
    margin: 4% auto;
    transition: 1s box-shadow;
    @media(min-width: $mobile-size) {
      padding: 0.4em 0.9em 0.475em;
    }
    &:hover{
      box-shadow: 0 0 10px #ffffff;
      }
    }
}
