
$mobile-size: 500px;

@import "colors";
@import "animations";
@import "navbar";
@import "header";
@import "text";
@import "twitter";
@import "carousel";
@import "share";
@import "hamburger";
@import "footer";
@import "button";


.view{
  z-index: 0;
  clear: both;
  position:relative;
  section {
    max-height: 100vh;
    //margin-bottom: 0.5vh
    height: auto;
    &:nth-child(2n+1){
      color: #ffffff;
      // background: #000000;
    }
    &:nth-child(2n){
      color: #000000;
      // background: #ffffff;
    }
  }
}







//END
