

$dark-gray: #595858;
$medium-gray: #a7a8ab;
$light-gray: #cccdcf;

$dark-facebook: #2c539e;
$medium-facebook: #5B74A8;
$light-facebook: #8a9cc2;

$dark-twitter: #02a7cb;
$medium-twitter: #00d9ff;
$light-twitter: #def4fa;

$dark-carousel: #af2323;
$medium-carousel: #e62929;
$light-carousel: #e29898;
