/*
 * ====================================================================
 * vars.less
 * 	Used to set variables used throughout less files
 * ====================================================================
 */
$ASSET_PATH: './assets/';
$images: '#{$ASSET_PATH}images/';
$small-size: 500px;
