.text{
  background: linear-gradient(to left, #485563 , #29323c);
  padding: 5%;

  font-family: "Karla Regular", Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  border-bottom: 10px #ffffff solid;

  @media(min-width: $mobile-size) {
    font-size: 1.5em;
    padding: 5% 15%;
  }
  h1{
    text-align: center;
  }
  p{
    text-align: justify;
  }
}
