
footer {
  background: #000000;
  color: #ffffff;
  text-align: center;
  height: 15vmin;
  font: 18px/normal "Comfortaa Regular", Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  span{
    position: relative;
    top: 20%;
  }
}
